@charset "utf-8"
@import '@primer/css/utilities/index.scss'

\:global
  html, body, #root
    width: 100vw
    height: 100vh
    padding: 0
    margin: 0
    font-family: 'Jost', sans-serif
  *
    box-shadow: none
    border: none
  //#root
  //  overflow: hidden

  .spelling
    font-weight: bold

  .category
    color: gray
    font-style: italic

  .ajdi
    color: lightgray