\:global
  html, body, #root
    width: 100vw
    height: 100vh
  *
    padding: 0
    margin: 0
    border: none
    box-shadow: none
    font-family: 'Jost', sans-serif
  #root
    overflow: hidden
